$primary-color: hsl(179, 62%, 43%);
$secondary-color: hsl(71, 73%, 54%);
$light-grey: hsl(204, 43%, 93%);
$grayish-blue: hsl(218, 22%, 67%);
$body-font-size: 1.6rem;
// $h1-font-size: 2.2rem;
// $caption-font-size: 1.6rem;
// $color-standard-transition: color 0.3s ease-in-out;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Karla", sans-serif;
  font-size: $body-font-size;
  background-color: $light-grey;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}
// Attribution Code
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  color: $grayish-blue;
}
.attribution a {
  color: $primary-color;
}

// SINGLE PRICE GRID COMPONENT
.price-grid {
  max-width: 63.5%;
  margin: 16.3rem auto 0 auto;
}

// Media query breakpoints: 375px and 1440px
